body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.hero-image {
  position: relative;
}

.hero-image-text {
  position: absolute;
  bottom: 224px;
}

.catalog-item {
  transition: all 0.3s;
}

.catalog-image {
  width: auto;
  height: 400px;
}

.catalog-item:hover {
  transform: scale(1.01);
  box-shadow: 5px 10px #888;
}

.three-column-image {
  border: 1px solid;
  transition: all 0.3s;
}

.three-column-image img {
  width: auto;
  height: 250px;
}

.three-column-image:hover {
  transform: scale(1.01);
  box-shadow: 5px 10px #888;
}

.message-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 3.5rem);
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
